@import "variables";
@import "mixins";
@import "normalize";
@import "sidebar";


@import url('https://fonts.googleapis.com/css?family=Kalam');
@import url('http://fonts.googleapis.com/css?family=Roboto');

body {
  background: #979797;
  font-family: Arial,sans-serif;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 60px;
  grid-auto-rows: 50px 100px 850px 50px 800px;
  grid-template-areas:
  "sidebar header"
  "sidebar title"
  "sidebar date"
  "sidebar artitle_1"
  "sidebar title_2"
  "sidebar article_2";
}
.item {
  margin-bottom: 3px;
  box-shadow: 1px 2px #f5f5f2;
  background: #fff;
}
.header {
  grid-area: header;
  float: right;
}
.title_2 {
  grid-area: title_2
}
.artitle_2 {
  grid-area: headarticle_2;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.navbar-right {
  height: 52px;
  position: fixed;
  margin-left: 776px;
  font-family: Arial;
  padding-top: 5px;
  background: #fff;
  border: 1px solid #979797;
  a {
    float: left;
    font-size: 1.2vw;
    border-left: 1px solid #979797;
    color: #56819f;
    padding: 12px 14px;
    text-decoration: none;
  }
}
.dropdown {
  float: left;
  overflow: hidden;
  img {
    position: relative;
    z-index: 2;
  }
}
.dot3{
  height: 1.6vh;
  width: 1.6vh;
  background-color: #f58220;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: -10px;
  left: -18px;
  z-index: 1;
}

.dropdown .dropbtn {
  font-size: 1.2vw; 
  border: none;
  outline: none;
  color: #333;
  padding: 10px 12px;
  background-color: inherit;
  font-family: inherit; 
  margin: 0; 
  height: 100%;
}
.dropbtn img, .navbar-right img {
  margin-right: 5px;
  width: 1.2vw; 
}
.navbar-right a:hover, .dropdown:hover .dropbtn {
  background-color: #e3e3e3;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e3e3e3;
  min-width: 161px;
  box-shadow: 0px 8px 16px 0px #333;
}
.dropdown-content a {
  float: none;
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #f5f5f2;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.title h2,.title_2 h2  {
  font-family: 'Arial Narrow';
  margin-top: 0px;
  padding: 9px;
  color: #979797;
}
/*TABELA 1*/
.date {
  table {
    width: 40%;
    margin: 28px auto;
    font-size: 20px;
    text-align: center;
    color: #979797;
    border-collapse: collapse;
    border: 1px solid #979797;
    border-radius: 20%;
    img {
      width: 40px;
      height: 25px;
    }
    .td-date {
      border-left:2px solid #979797;
    }
    .td-td {
      &:hover {
        background: #e3e3e3;;
        cursor: pointer;
      }
    }
    th {
      background: #f58220;
      padding: 5px;
      border: none;
      &:hover {
        background: #ffa200;
      }
    }
  }
}
/*TABELA 2*/
.overflow {
  table {
    width: 75%;
    margin: 30px auto;
    padding: 10px;
    font-size: 1.5vw;
    text-align: left;
    color: #979797;
    border-collapse: collapse;
    td {
      padding: 10px;
      border-bottom: 1px solid #979797;
    }
    th {
      padding:20px;
    }
  }
}
.article_1 p {
  font-family: 'Arial Narrow';
  font-size: 1.6vw;
  margin-top: 30px;
  padding-top: 25px;
  padding-left: 140px;
  color: #979797;
}
.col-container {
  display: box;
  width: 45%;
  margin: 0 auto;
}
.col {
  display: inline-grid;
  margin: 20px;
  padding: 10px 15px;
  font-size: 3.4vh;
  color: #979797;
  border-radius: 8%;
}
.col-dot, .col-dot1 {
  background: #f5f5f2;
  &:hover {
    background: #fff;
  }
}
.col-dot2:hover {
  background: #f5f5f2;
}
.dot, .dot1, .dot2 {
  height: 2.5vh;
  width: 2.5vh;
  background-color: #74b67a;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  &:hover {
    background: #56819f;
  }
}
.dot1 {
  background-color: #f58220;
}
.dot2 {
  background-color: #04ae00;
}
.diagram {
text-align: center;
  img {
    width: 80%;
    height: 450px;
    margin-top: 20px;
  }
}
/*STYLOWANIE SIDEBARA*/
.sidebar {
  grid-area: sidebar;
  background: #333333;
  color: #f5f5f2;
}
.topnav {
  position: fixed;
  margin-left: 0;
  border-bottom: 2px solid #979797;
  .active {
    color: #f5f5f2;
    font-family: Kalam;
    padding-top: 16px;
    font-size: 30px;
  }
  #hamburger {
    width: 200px;
    margin-top: 0;
  & a:hover {
    background-color: #979797;
    border-left:2px solid #ffa200;
    color: #f5f5f2;
  }
    a {
      font-size: 22px;
      font-style: normal;
    }
    img {
      width: 16px;
      margin-right: 5px;
    }
  }
  a {
    color: #f5f5f2;
    padding: 14px 16px;
    text-decoration: none;
    font-style: none;
    font-size: 30px;
    display: block;
  }
  a.icon {
    background: #333333;
    position: fixed;
    left: 195px;
    top: 16px;
  }
  & a:hover {
    background-color: #979797;
    color: #f5f5f2;
    margin: 0;
  }
}
.sidebar-gallery {
  position: fixed;
  margin-top: 480px;
  .dot3 {
    height: 2vh;
    width: 2vh;
    background-color:#04ae00;
    border-radius: 50%;
    display: inline-block;
    top: -60px;
    left: -20px;
  }
  .title {
    font-size: 20px;
    text-align: left;
    text-transform: uppercase;
    font-style: normal;
    margin-left: 10px;
    padding: 10px;
  }
  img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin-left: 20px;
  }
  .name {
    font-size: 18px;
    text-transform: capitalize;
    font-style: normal;
    margin-top: 30px;
    margin-left: 10px
  }
}
/*TABELA 3*/
.article_2 {
  color: #333;
  border-collapse: collapse;
  table {
    margin-top: 10px;
    padding: 0 40px;
    td {
      border-bottom: 1px solid #979797;
      padding: 5px;
      font-size: 17px;
      &:hover {
        background: #e3e3e3;
      }
    }
  }
  .button {
    text-align: center;
    margin: 50px 0;
  }
  .btn {
    background: #f58220;
    border: none;
    color: #f5f5f2;
    padding: 16px 10px;
    text-align: center;
    font-size: 16px;
    margin: 10px 2px;
    transition: 0.3s;
    &:hover {
      background-color: #ffa200;
      color: #f5f5f2;
    }
  }
}
.scroll-wrapper {
  display: block;
  width: 100%;
  overflow-x: auto;
}
.scroll-wrapper table {
  width: 100%;
  max-width: 100%;
}
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}






